<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row list" ng-repeat="articlesLine in articlesTable">
    <div class="col-sm-12 col-md-4" ng-repeat="article in articlesLine">
      <a href="article/{{article._id}}">
        <div class="panel panel-info">
          <div class="panel-heading"><h4 class="title">{{ article.title }}</h4></div>
          <div class="panel-body">{{article.description}}</div>
           <div class="panel-footer">
             <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{article.category.name}}
             <p class="pull-right"><span class="glyphicon glyphicon-user"></span> {{article.creator.name}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>  
</div>

<div ng-include="'components/footer/footer.html'"></div>