.logo{
  font-size: 60px;
  line-height: 1;
  font-family: 'tribalregular';
  letter-spacing: 20px;
}

.citation {
  top: 10px;
  font-size: 22px;
  text-align: center;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 22px 0px;
}

.subtitle {
  font-family: 'tribalregular';
}

.row-xs-flex-center {
  display:flex;
  align-items:center;
}
@media ( min-width:768px ) {
  .row-sm-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 992px ) {
  .row-md-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 1200px ) {
  .row-lg-flex-center {
    display:flex;
    align-items:center;
  }
}

@font-face {
  font-family: 'tribalregular';
  src: url('/assets/fonts/tribal__/tribal__-webfont.eot');
  src: url('/assets/fonts/tribal__/tribal__-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/tribal__/tribal__-webfont.woff2') format('woff2'),
    url('/assets/fonts/tribal__/tribal__-webfont.woff') format('woff'),
    url('/assets/fonts/tribal__/tribal__-webfont.ttf') format('truetype'),
    url('/assets/fonts/tribal__/tribal__-webfont.svg#tribalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}